@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    strong {
        
        background: -webkit-linear-gradient(180deg,#0f172a, #5222d0);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
